# Python bytecode
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/

# VS Code & PyCharm settings (local only)
.vscode/
.idea/

# macOS system file (if copied to a Mac)
.DS_Store

# Logs and cache
*.log
*.cache
.ruff_cache/
.mypy_cache/

# Environment variables or secrets
.env

# Dataset files (optional - only ignore if too big or sensitive)
*.csv
*.xlsx
*.sav
